<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shiro权限管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/AdminLTE.min.css">
    <link rel="stylesheet" href="public/css/all-skins.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/index-self.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" id="dtapp" v-cloak>
    <!--头部菜单栏-->
    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-mini"><b>Shiro</b></span>
            <span class="logo-lg"><b>Shiro权限管理系统</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div style="float:left;color:#fff;padding:15px 10px; color: #333">欢迎 {{user.username}}</div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:;" @click="updatePassword"><i class="fa fa-lock"></i> &nbsp;修改密码</a></li>
                    <li><a href="logout"><i class="fa fa-sign-out"></i> &nbsp;退出系统</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--侧边栏导航菜单-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">导航菜单</li>
                <!--通过列表循环出菜单项-->
                <menu-item :item="item" v-for="item in menuList"></menu-item>
            </ul>
        </section>
    </aside>
    <!--中间内容区域-->
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb" id="nav_title" style="position:static;float:none;">
                <li class="active">
                    <i class="fa fa-home" style="font-size:20px;position:relative;top:2px;left:-3px;"></i>
                    首页
                </li>
                <li class="active">{{navTitle}}</li>
            </ol>
        </section>
        <!--通过 iframe 嵌套页面，当点击菜单栏就传入不同的 url ，显示不同的页面-->
        <section class="content" style="background:#fff;">
            <iframe name="myFrame" scrolling="yes" frameborder="0"
                    style="width:100%;min-height:200px;overflow:visible;background:#fff;" :src="main"></iframe>
        </section>
    </div>

    <div class="control-sidebar-bg"></div>

    <!-- 修改密码 -->
    <div id="passwordLayer" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-2 control-label">账号</div>
                    <span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">原密码</div>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" v-model="password" placeholder="原密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">新密码</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="newPassword" placeholder="新密码"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="public/libs/jquery.min.js"></script>
<script src="public/libs/vue.min.js"></script>
<script src="public/libs/router.js"></script>
<script src="public/libs/bootstrap.min.js"></script>
<script src="public/libs/app.js"></script>
<script src="public/plugins/layer/layer.js"></script>
<script src="public/js/index.js"></script>
</body>
</html>
